.normal-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border-right: 1px solid black;
    width: 23px;
    aspect-ratio: 1 / 1;
    user-select: none;
}

.empty-cell {
    display: inline-block;
    background-color: lightblue;
    border-right: 1px solid black;
    width: 23px;
    aspect-ratio: 1 / 1;
    user-select: none;
    text-align: center;
}
