#root {
    max-width: 1280px;
    /* margin: 0 auto; */
    /* padding: 2rem; */
    text-align: center;
}
.row {
    display: flex;
    border-top: 1px solid;
}
.field-container {
    margin: auto;
    display: inline-block;
    border-left: 1px solid;
    border-bottom: 1px solid;
    /* width: 20%; */
}
